<!DOCTYPE html>
<html>
<head>
    <title>Student Productivity Portal</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Create your Account</h1>
        <p>Register Here!</p>
    </header>
        <nav>
            <a href="index.html">Home</a>
            <a href="register.html">Register</a>
            <a href="tasks.html">Tasks</a>
            <a href="signup.html" id="signuplink">Sign Up</a>
            <a href="login.html" id="loginlink">Login</a>
        </nav>
        <section>
            <form class="form-box" id="signupForm">
                <label>Full Name</label>
                <input type="text" id="name">
                <label>Email</label>
                <input type="email" id="email">
                <label>Password</label>
                <input type="password" id="password">
                <button type="submit">Submit</button>
            </form>
        </section>
        <script src="script.js"></script>
</body>
</html>